In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Uncle Kracker,I'd Be There,"Not a minute goes by, that you ain't on my min..."
1,Billie Holiday,Beyond The Sea,Charles trenet (jack lawrence) \r\n \r\nSome...
2,Lynyrd Skynyrd,Workin',Up every mornin' before the sun \r\nTakin' my...
3,John McDermott,Silent Night,"Silent night, holy night \r\nAll is calm, all..."
4,Emmylou Harris,C'est La Vie,(chuck berry) \r\n \r\nIt was a teenage wedd...
5,Whitney Houston,I Wanna Dance With Somebody,Clock strikes upon the hour \r\nAnd the sun b...
6,Frankie Laine,Rose Rose I Love You,"Rose, Rose I love you with an aching heart \r..."
7,Little Walter,You Better Watch Yourself,You better watch yourself \r\nYou better watc...
8,Isley Brothers,If You Leave Me Now,"Don't go \r\nDon't go \r\nOh whoa, don't go,..."
9,Olivia Newton-John,Have You Never Been Mellow,There was a time when I was in a hurry as you ...

In [9]:
df['text'][0]

'Not a minute goes by, that you ain\'t on my mind.  \r\nNot a place in my heart, that you don\'t occupy.  \r\nI miss you.  \r\n  \r\nIf I could. I would crawl through the phone.  \r\nYeah, this drink gets me by, but it don\'t get me home.  \r\nAre you sleeping? I ain\'t sleeping.  \r\n  \r\nSo I wrote you a song, cause it\'s been so long.  \r\nSince I looked in your eyes.  \r\nIf there was a way I could see you today  \r\nAnd hold your sweet sweet smile.  \r\nI\'d be there, I\'d be there  \r\nI\'d be there.  \r\n  \r\nI\'m watching the clock, but the clock doesn\'t care.  \r\nI\'m the star of the show called, "I wish I was there."  \r\nBabe, I miss you.  \r\n  \r\nAnd thinking of you puts a smile on my face.  \r\nAnd it makes me forget that I hate this place.  \r\nI\'ve been dreaming.  \r\nBut I still ain\'t sleeping.  \r\n  \r\nSo I wrote you a song, cause it\'s been so long.  \r\nSince I looked in your eyes.  \r\nIf there was a way I could see you today  \r\nAnd hold your sweet sweet smile.  \r\nI\'d be there, I\'d be there  \r\nI\'d be there.  \r\n  \r\nNot a minute goes by, that you ain\'t on my mind.  \r\nNot a place in my heart, that you don\'t occupy.  \r\nI miss you.  \r\n  \r\nSo I wrote you a song, cause it\'s been so long.  \r\nSince I looked in your eyes.  \r\nIf there was a way I could see you today  \r\nAnd hold your sweet sweet smile.  \r\nI\'d be there, I\'d be there, I\'d be there, I\'d be there  \r\n  \r\nI\'d be there.\r\n\r\n'

In [10]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [22]:
df['text'] = df['text'].apply(lambda x: tokenization(x))
df['text']

0       not a minut goe by , that you ai n't on my min...
1       charl trenet ( jack lawrenc ) somewh beyond th...
2       up everi mornin ' befor the sun takin ' my lov...
3       silent night , holi night all is calm , all is...
4       ( chuck berri ) it wa a teenag wed and the old...
                              ...
4995    ye , i 've got someon new , i 've had enough o...
4996    do n't it sometim feel as if the world is turn...
4997    high vibrat go on to the sun , oh let my heart...
4998    i hear that train a-rol , it 's a-rol round th...
4999    i met the day feel cheaper than usual i guess ...
Name: text, Length: 5000, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]

array([1.        , 0.02164765, 0.02147022, ..., 0.04493781, 0.0636703 ,
       0.01078308])

In [23]:
df[df['song'] == 'I\'d Be There']

,artist,song,text
0,Uncle Kracker,I'd Be There,"not a minut goe by , that you ai n't on my min..."

In [26]:
def recommendation(song_df):
    if song_df not in df['song'].values:
        return []  # Return an empty list if the song is not in the DataFrame
    
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])

    songs = []
    for m_id in distances[1:6]:
        songs.append(df.iloc[m_id[0]].song)

    return songs

In [27]:
recommendation('I\'d Be There')

['Looking For You',
 'Berlin',
 "Ain't That A Lot Of Love",
 'Sweet Is The Word For You',
 "Don't Put Me Out"]

In [28]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))